@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300');

.PhotoPercentage1{
    height: 400px;
    width: auto;
    object-fit: contain;
    background-image: url('https://res.cloudinary.com/dfm5xzcsq/image/upload/v1527956518/photo-3_3x.png') ;
    background-size: 100% 100%;  
    border: none;  
    background-color: rgba(39, 42, 67, 0.5);
}

.PhotoPercentage2{
    height: 400px;
    object-fit: contain;
    background-image: url('https://res.cloudinary.com/dfm5xzcsq/image/upload/v1527956518/photo-2_3x.png');
    background-size: 100% 100%;
    border: none;
    background-color: rgba(39, 42, 67, 0.5);
}

.PhotoPercentage3{
    height: 400px;
    object-fit: contain;
    background-image: url('http://res.cloudinary.com/dfm5xzcsq/image/upload/v1527956518/photo-1_3x.png');
    background-size: 100% 100%;
    background-color: rgba(39, 42, 67, 0.5);
}


.textPercentage {
    width: 181px;
    height: 42px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.4px;
    text-align: center;
    color: $white-two;
  }

  .layer {
    width: 100px;
    height: 64px;
    font-family: 'Roboto Slab', serif;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: $white-four;
  }

  .layerPer {
    width: 26px;
    height: 44px;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: $white-four;
    
  }

  .centerText{
    margin-top: 30%;
  }

