  .Rectangle-6 {
    width: auto;
    height: 600px;
    background-color: #fafafc;
  }

  .carousel {
    width: auto;
    height: 355px;
    margin: auto;
  }


  @media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }

    .Rectangle-6 {
      width: auto;
      height: auto;
      background-color: #fafafc;
    }
}