@import '../../variables.scss';


.bg {
    width: auto;
    height: 60px;
    background-color: #35374c;
}

.menu-item {
    margin-top: 2px;
    width: 100px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
  }

  .menu-itemB{
    width: 150px;
  }

  .bellotero-logo {
    width: 119px;
    height: 26px;
    left: 20px;
    object-fit: contain;
  }

  .buttonRequest{

    border-radius: 2px;
    background-color: $green-blue;
    border: solid 1px $teal;
  }

  .textButtonRequest {
    width: 90px;
    height: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: $white-four;
  }