@import '../../variables.scss';


  .footer {
    width: auto;
    height: 40px;
    background-color: #1d1f35;
  }
  .text-footer {
    width: 75px;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 0.75%;
  }