@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

$dark-light: #34374c;
$dark: #272943;
$bluegreen: #00856c;
$sunflower-yellow: #ffd400;
$watermelon: #ff415e;
$green-blue: #00b896;
$teal: #009e81;
$sandy-yellow: #ffea7f;
$faded-red: #cc354b;
$black: #000000;
$orange-yellow: #ffac00;
$lipstick: #e63b55;
$black-two: #333333;
$brownish-grey: #666666;
$warm-grey: #7f7f7f;
$pinkish-grey: #bfbfbf;
$white: #d9d9d9;
$white-two: #e5e5e5;
$white-three: #f2f2f2;
$pale-grey: #f8f8fa;
$pale-grey-two: #fafafc;
$pale-grey-three: #fcfcfd;
$white-four: #ffffff;
$white-four-75: rgba(255, 255, 255, 0.75);
$white-four-50: rgba(255, 255, 255, 0.5);
$white-four-25: rgba(255, 255, 255, 0.25);